{% extends "base.html" %}
{% load static %}

{% block title %}
Document | Impact By Distinctive Themes
{% endblock title %}

{% block css %}

<!-- Django Admin CSS & JS -->
<!--
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
-->

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

{{ form.media }}

<!--
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
-->
<!-- Plugins CSS -->    
<link rel="stylesheet" href="{% static 'prettydocs/plugins/prism/prism.css' %}">
<link rel="stylesheet" href="{% static 'prettydocs/plugins/elegant_font/css/style.css' %}">  

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="{% static 'prettydocs/css/styles.css' %}">

{% endblock css %}

{% block section %}
    <section id="single-page-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center gap fade-down section-heading">
                                    <h2 class="main-title">Document</h2>
                                    <hr>
                                    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">
        <section id="services" class="white">
            <div class="container">
            <div class="gap"></div>
                <div class="row doc-body">
                    <div class="doc-sidebar col-md-3 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#download-section">Download</a>
                                <a class="nav-link scrollto" href="#installation-section">Installation</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#step1">Step One</a>
                                    <a class="nav-link scrollto" href="#step2">Step Two</a>
                                    <a class="nav-link scrollto" href="#step3">Step Three</a>
                                </nav><!--//nav-->
                                
                            </nav><!--//doc-menu-->
                        </div>
                        <!--
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-windows fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Windows Apps</h3>
                                <p>Unfeeling so rapturous discovery he exquisite. Reasonably so middletons or impression by terminated. Old pleasure required removing elegance him had. Down she bore sing saw calm high.</p>
                            </div>
                        </div>
                        -->

                    </div><!--/.col-md-3(side-bar)-->

                    <div class="doc-content col-md-9">
                        <div class="content-inner">
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Download</h2>
                                <div class="section-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec imperdiet turpis. Curabitur aliquet pulvinar ultrices. Etiam at posuere leo. Proin ultrices ex et dapibus feugiat <a href="#">link example</a> aenean purus leo, faucibus at elit vel, aliquet scelerisque dui. Etiam quis elit euismod, imperdiet augue sit amet, imperdiet odio. Aenean sem erat, hendrerit  eu gravida id, dignissim ut ante. Nam consequat porttitor libero euismod congue. 
                                    </p>
                                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/prettydocs-free-bootstrap-theme-for-developers-and-startups/" class="btn btn-green" target="_blank"><i class="fas fa-download"></i> Download PrettyDocs</a>
                                </div>
                            </section><!--//doc-section-->

                            <section id="installation-section" class="doc-section">
                                <h2 class="section-title">Installation</h2>
                                <div id="step1"  class="section-block">
                                    <h3 class="block-title">Step One</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                                    </p>
                                    <div class="code-block">
                                        <h6>Default code example:</h6>
                                        <p><code>bower install &lt;package&gt;</code></p>
                                        <p><code>npm install &lt;package&gt;</code></p>
                                    </div><!--//code-block-->
                                </div><!--//section-block-->
                                <div id="step2"  class="section-block">
                                    <h3 class="block-title">Step Two</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <h6>Un-ordered list example</h6>
                                            <ul class="list">
        										<li>Lorem ipsum dolor sit amet.</li>
        										<li>Aliquam tincidunt mauris.</li>
        										<li>Ultricies eget vel aliquam libero.
        											<ul>
        												<li>Turpis pulvinar</li>
        												<li>Feugiat scelerisque</li>
        												<li>Ut tincidunt</li>
        											</ul>
        										</li>
        										<li>Pellentesque habitant morbi.</li>
        										<li>Praesent dapibus, neque id.</li>
        									</ul>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <h6>Ordered list example</h6>
                                            <ol class="list">
        										<li>Lorem ipsum dolor sit amet.</li>
        										<li>Aliquam tincidunt mauris.</li>
        										<li>Ultricies eget vel aliquam libero.
        											<ul>
        												<li>Turpis pulvinar</li>
        												<li>Feugiat scelerisque</li>
        												<li>Ut tincidunt</li>
        											</ul>
        										</li>
        										<li>Pellentesque habitant morbi.</li>
        										<li>Praesent dapibus, neque id.</li>
        									</ol>
                                        </div>
                                    </div><!--//row-->
                                </div><!--//section-block-->
                                <div id="step3"  class="section-block">
                                    <h3 class="block-title">Step Three</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.
                                    </p>
                                                                      
                                
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                            
                            <!-- 입력 폼 및 버튼 -->
                            <div id="user_input">
                                <form methond="POST" id="post-form">
                                    {% csrf_token %}
                                    <table class="table">
                                        <tbody>
                                        {% for field in form.visible_fields %}
                                            <tr>
                                                <td scope='row'>{{field.label_tag}}</td>
                                                <td>{{field}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>    
                                    </table>
                                    <div id="results"></div> <!-- 에러가 발생한 경우 에러 내용을 출력할 부분 -->
                                    <button id="submit" type="submit" form="post-form" class="btn btn-warning">Ajax 요청</button>
                                    <button id="first_start" type="button" class="btn btn-primary">스트림 시작</button>
                                    <button id="first_stop" type="button" class="btn btn-danger">스트림 중지</button>
                                </form>
                            </div>

                            <div class="gap"></div>

                            <!-- 그래프 삽입 공간 -->
                            <div id='graph-section' >
                            <iframe id ="graphframe" src="" width="0" height="0" frameborder="0" style="position:relative; visibility:hidden;"></iframe>



                            </div><!--//graph-section-->
                        </div>
                    </div><!--/.col-md-9-->
                    
                </div><!--/.row-->
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Our Skills</h2>
                        <hr>
                        <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                    </div>
                </div>
            </div><!--/.row-->
            
        </section>
    </div>
{% endblock section %}

{% block script %}
<!-- Prettydocs Main Javascript -->
<script type="text/javascript" src="{% static 'prettydocs/plugins/prism/prism.js' %}"></script>
<script type="text/javascript" src="{% static 'prettydocs/plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>   
<script type="text/javascript" src="{% static 'prettydocs/plugins/stickyfill/dist/stickyfill.min.js' %}"></script>                                                             
<script type="text/javascript" src="{% static 'prettydocs/js/main.js' %}"></script>

<!-- Datetime Picker 아이콘이 2개씩 출력되는 문제 임시 방편 -->
<script type="text/javascript">
// Datetime을 모두 찾아서 홀수 번째 태그들을 삭제한다.
// 페이지가 모두 로드된 다음에 실행한다.
window.onload = function(){
    var datetime_icon = document.getElementsByClassName("datetimeshortcuts");
    var len = datetime_icon.length;

    // remove() 하면 인덱스가 하나씩 당겨지는 것을 감안하여 삭제한다.
    // 0 ~ 7 번 인덱스 중 1, 3, 5, 7 번이 삭제된다.
    for(i=1; i <= len/2; i++){
        datetime_icon[i].remove();
    }
};
</script>

<!-- 그라파나 실시간 그래프 -->
<script type="text/javascript" src="{% static 'js/streaming.js' %}"></script>
{% endblock script %}